<% provide(:title, @user.name) %>
<div class="row">
  <div id="reg_form" class="bg_form">
    <% if !@user.image_url(:thumb).to_s.blank? %>
      <p><%= image_tag @user.image_url(:thumb).to_s %></p>
    <% end %>
    <p>
      <b>Nombre:</b>
      <%= @user.name %>
    </p>

    <p>
      <b>Usuario:</b>
      <%= @user.nickname %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Rol:</b>
      <%= @user.rol %>
    </p>

    <p>
      <b>Descripcion:</b>
      <%= @user.description %>
    </p>
    <% if can? :update, @user %>
      <%= link_to 'Editar Perfil', edit_user_path(@user) %> |
    <% end %>
    <%= link_to 'Regresar', users_path %>

  </div>
</div>