<div>
	<h1 class="home_header">Conócenos</h1>
	<div id="img_about">
		<%= image_tag("willi_normal.png", :alt => "William") %>
		<%= image_tag("andres_normal.png", :alt => "Andres") %>
		<%= image_tag("sebas_normal.png", :alt => "Sebastian") %>
		<%= image_tag("juliana_normal.png", :alt => "Juliana") %>
		<%= image_tag("juan_normal.png", :alt => "Juan") %>
	</div>
</div>