<div class="row">
  <div class="span6">
    <%= form_for @post, :html => { :multipart => true} do |f| %>
      <%= render 'error_messages' %>
      <div class="field">
        <%= f.label :title, 'Titulo', :class => "label_form" %><br />
        <%= f.text_field :title, :class => "text_field_form" %>
      </div>
      <div class="field">
        <%= f.label :content, 'Contenido', :class => "label_form"  %><br />
        <%= f.text_area :content, :class => "text_field_form", :size => "50x10"  %>
      </div>
      <div class="field">
        <%= f.label :date, 'Fecha de publicacion', :class => "label_form" %><br />
        <%= f.datepicker :date, :class => "text_field_form" %>
      </div>
      <div class="field">
        <%= f.label :image, 'Imagen', :class => "label_form" %><br />
        <%= f.file_field :image, :class => "text_field_form" %>
      </div>
      <br />
      <div class="field">
        <%= f.label :remote_image_url, "o URL de imagen", :class => "label_form" %><br />
        <%= f.text_field :remote_image_url, :class => "text_field_form" %>
      </div>
      <div class="actions">
        <%= f.submit "Guardar", class: "btn btn-primary btn_form"%>
      </div>
    <% end %>
  </div>
</div>