<% provide(:title, 'Blog') %>
<div id="reg_form" class="bg_form blog_content">
  <h1>Blog Eximius</h1>

  <% @posts.each do |post| %>
    <hr>
    <div class="justify_text post_content">
      <h3><%= post.title %></h3>
      <p>
        <b>Fecha:</b>
        <%= post.date %>
        <br>
        <b>Autor:</b>
        <%= "#{post.author.name} #{post.author.email}" %>
      </p>
      <% if !post.image_url(:thumb).to_s.blank? %>
        <p><%= image_tag post.image_url(:thumb).to_s %></p>
      <% end %>
      <p><%= post.content.html_safe %></p>
      <p><%= link_to 'Mostrar', post %>
        <% if can? :update, post %>
        - <%= link_to 'Editar', edit_post_path(post) %>
        <% end %>
        <% if can? :destroy, post %>
        - <%= link_to 'Eliminar', post, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        <% end %>
      </p>
    </div>
  <% end %>
  <hr>
  <div class="center_pagination">
    <%= paginate @posts, :theme => 'twitter-bootstrap', :pagination_class => "pagination_centered" %>
  </div>
  <hr>
  <% if can? :create, Post %>
    <%= link_to 'Nuevo Post', new_post_path %>
  <% end %>
</div>