<div id="reg_form" class="bg_form">
  <h3><%= @post.title %></h3>

  <p>
	  <b>Fecha:</b>
	  <%= @post.date %>
	  <br>
	  <b>Autor:</b>
	  <%= "#{@post.author.name} #{@post.author.email}" %>
	</p>

	<% if !@post.image_url(:show).to_s.blank? %>
		<p><%= image_tag @post.image_url(:show).to_s %></p>
	<% end %>

	<p>
	  <%= @post.content %>
	</p>

	<hr>
	<% if can? :update, @post %>
		<%= link_to 'Editar', edit_post_path(@post) %> |
	<% end %>
	<%= link_to 'Regresar', posts_path %>
</div>