<div>
	<h1 class="home_header">Contácto</h1>
	<div id="reg_form" style="margin-top: 3%">
		<%= form_for Contact.new, :url => contact_path do |form| %>
		  <fieldset class="fields">
		    <div class="field">
		      <%= form.label :name, "Nombre", :class => "label_form" %>
		      <%= form.text_field :name, :class => "text_field_form" %>
		    </div>

		    <div class="field">
		      <%= form.label :email, :class => "label_form" %>
		      <%= form.text_field :email, :class => "text_field_form" %>
		    </div>
		    <div class="field">
		      <%= form.label :subject, "Asunto", :class => "label_form" %>
		      <%= form.text_field :subject, :class => "text_field_form" %>
		    </div>

		    <div class="field">
		      <%= form.label :body, "Mensaje", :class => "label_form" %>
		      <%= form.text_area :body, :class => "text_field_form", :size => "50x5"  %>
		    </div>
		  </fieldset>

		  <fieldset class="actions">
		    <%= form.submit "Enviar", class: "btn btn_img" %>
		  </fieldset>
		<% end %>
	</div>
</div>