<%= link_to image_tag("logo_eximius.png", :alt => "Eximius" ),
root_path, :class => 'brand img_brand' %>

<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<div class="nav-collapse">
  <ul class="nav pull-right">
    <li><%= link_to "Inicio", root_path, :class => 'home_link' %></li>
    <li><%= link_to "Servicios", root_path, :class => 'home_link' %></li>
    <li><%= link_to "Conocenos", users_path, :class => 'home_link' %></li>
    <li><%= link_to "Contacto", contact_path, :class => 'home_link' %></li>
    <li><%= link_to "Blog", posts_path, :class => 'home_link' %></li>
    <li class="dropdown" id="accountmenu">
      <% if signed_in? && !current_user.image_url.nil? %>
        <a class="dropdown-toggle img_container img_background" data-toggle="dropdown" href="#">
          <%= image_tag(current_user.image_url(:mini).to_s, :alt => "Usuarios", :class => "img_profile") %>
          <b class="caret img_caret"></b>
        </a>
      <% else %>
        <a class="dropdown-toggle img_background" data-toggle="dropdown" href="#">
          <%= image_tag("user2.png", :alt => "Usuarios") %>
          <b class="caret img_caret"></b>
        </a>
      <% end %>
      <ul class="dropdown-menu">
        <% if signed_in? %>
            <li><%= link_to "Mi perfil: "+current_user.name, current_user %></li>
            <li class="divider"></li>
            <li><%= link_to "Salir", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Iniciar sesion", signin_path %></li>
            <li><%= link_to "Registrate", signup_path %></li>
          <% end %>
      </ul>
    </li>
  </ul>
</div>